* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: plum;
}

h2 {
    margin-top: 2em;
}

#formulario{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgb(64, 14, 121);
    border-radius: 1em;
    width: 25em;
    margin: 2.5em auto;
    color: white;
    font-family: sans-serif;
}

#dados {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2em;
    width: 100%;
}

input, select{
    padding: .5em;
    margin-bottom: 1em;
    background: #000;
    color: white;
    width: 100%;
}

#btnHistoria {
    margin-top: 1em;
    padding: 1em 8em;
    border: none;
    background: rgb(52, 175, 52);
    font-weight: bold;
    color: #444;
    cursor: pointer;
}

#btnHistoria:hover {
    color: #111;
    background: limegreen;
}

.typewriter {
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20em;
    margin-top: 10em;
    top: 0;
    position: absolute;
    width: 50vw;
    /* height: 50vh; */
    border: 2px solid white;
    border-radius: 20px;
    padding: 1em;
    /* background da div deixando fosco */
    background: rgba(255, 255, 255, 0.5); 
}

h1 {
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 22px;
    animation: 
        typing 3.5s steps(30, end),
        blink-caret .5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange }
}